name: Run Bolaloca Scraper

on:
  schedule:
    - cron: "*/20 * * * *" # Every 1 hour
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 pytz

      - name: Run Bolaloca Scraper
        run: python bolaloca.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add bolaloca.json
          git commit -m "Update bolaloca.json" || exit 0
          git pull --rebase origin main
          git push origin main
