name: Flashscore Homepage Scraper

on:
  schedule:
    # 00:01 WIB = 17:01 UTC (sehari sebelumnya)
    - cron: "1 17 * * *"
    
    # 03:00 WIB = 20:00 UTC (sehari sebelumnya)
    - cron: "0 20 * * *"
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 selenium webdriver-manager

      - name: Run Flashscore Homepage Scraper
        run: python flashscore_home.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add flashscore_home.json
          git commit -m "Update flashscore_home.json" || exit 0
          git pull --rebase origin main
          git push origin main
